<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
      @{ ViewBag.Title = "ABM"; }

<h2>ABM</h2>
<div >
    <ul >
        <li><a href="@Url.Action("ABMSkatePark", "BackOffice")">asdasd</a></li>
        <li><a href="@Url.Action("ABMSkatePark", "BackOffice")">asdasd</a></li>
        <li><a href="@Url.Action("ABMSkatePark", "BackOffice")">asdasd</a></li>
    </ul>
</div>
